:root {
  --main-color: white;
  --padding: 5%;
  --bg-color: #f1f1f1f1;
  --title-color:#BFD7FF;
  --false-hyperlink:#2968A3;
}

/* VERSION CLASSIQUE */
.title {
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  text-align: justify;
}

/* petites classes pour mettre en forme le texte à la manière de wikipédia */
.emph {
  font-weight: bold;
}

/*Je sais faire des hyperliens, mais je n'allais pas refaire tous les hyprliens de la page*/
.false-hyperlink{
  color: var(--false-hyperlink);
}

header {
    width: 100%;
    height: auto;
    background: var(--main-color);
    color: black;
    display: flex;
    align-items: center;
}

/* Bar de navigation latérale gauche */
/* Vous aviez demandé que l'encare sur la gauche suive l'utilisateur,
cependant ce n'est pas le cas sur wikipédia. Pour prouver que je sais le faire
et conserver le design wikipédien, j'ai décidé de fixer la barre de 
navigation plutôt que mon aside. Désolé si ça ne rentre pas à 100% dans 
la consigne. */
nav {
    position: fixed;
    margin-top: 10% ;
    padding: 1%;
    width: 10%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    background-color: var(--bg-color);
}

nav div {
  padding-top: 2%; 
  padding-left: 5%;
  padding-right:5%;
  padding-bottom: 2%;
}

nav a{
  color: var(--false-hyperlink);

}

nav a:hover{
  color: darkred;
}

/* Texte */
.container {
  display : flex;
  flex-direction: row;
  margin-left: 15%;
  background-color: white;
  opacity: 1;
  align-items: stretch;
}


/*Mon texte est dans l'élément main et mon enquare 
est dans l'élément aside */
main{
  margin-right: 5%
}

.figcaption {
  text-align: center;
}

aside {
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: var(--bg-color);
  max-width: 50%;
}

.h2_aside{
  background-color: var(--title-color);
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.aside_bio {
  background-color: var(--title-color);
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}


/* J'ai tenté de faire un truc stylé ici quand l'on clique la photo,
dans l'encare, ça fonctionne, mais malheureusement, ça ne rend pas dingus.*/
.img_aside {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}

.figure_aside:hover .image_aside{
  opacity: 0.3;
  box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
  justify-content: center;
}

.figure_aside:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: inherit;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: var(--main-color);
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}

/*Fin des expériences avec l'encare et l'appariton de texte*/

.ul_aside {
 padding-top: 2%;
}

ul li{
  list-style-type: none;
  padding-top: 2%; 
  padding-left: 5%;
  padding-right:5%;
  padding-bottom: 2%; 
}

hr {
  height: 1px;
  color: var(--bg-color);
}

.input_header {
  padding-left: 2%;
}


/*VERSION MOBILE*/
/* J'ai eu beaucoup de problème car 
je mettais la media query avant mon code
par souci de lisibilité, et en fait il faut le mettre à la fin*/
@media screen and (max-width: 800px) {

  header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
  }

  aside {
    max-width: 100%;
    order: 0;
  }

  main {
    width: 100%;
    order: 1;
    padding-right: 15%
  }

}
